.banner-product {
  width: 100%;
}

.banner-product img {
  width: 100%;
  height: auto;
}

.container .title-promo {
  margin-top: 20px;
}

.container h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #d61921;
  text-align: center;
  margin-top: 56px;
}

.con-card-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 36px;
}

.card-product-car {
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}

.card-product-car:hover {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
}

.card-product-car img {
  width: 100%;
  height: auto;
  /* border: 1px solid #c4c4c4; */
  border-radius: 10px;
  aspect-ratio: 16/9;
}

.text-type-car {
  font-family: "Poppins";
  color: #d61921;
  font-weight: 700;
  font-size: 26px;
}

.title-type-car {
  display: flex;
  margin-top: 8px;
  gap: 5px;
  color: #797979;
  align-items: center;
}

.title-type-car p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #797979;
}

.con-promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 56px;
}

.con-promo .img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.con-promo img:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}

/*  */

.con-image-end-product {
  display: flex;
  gap: 20px;
  margin-top: 56px;
}

.con-image-end-product .img1 {
  display: flex;
  gap: 20px;
}

.con-image-end-product .img1 img,
.con-image-end-product .img2 img {
  width: 100%;
  height: auto;
  display: block;
}

.car-price {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #d61921;
}

/*  */
@media only screen and (max-width: 1050px) {
  .container h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 800px) {
  .container h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .text-type-car {
    font-size: 22px;
  }

  .text-type-car p {
    font-size: 18px;
  }

  .car-price {
    font-size: 18px;
  }

  .title-type-car .icon {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1000px) {
  .con-card-product {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .text-type-car {
    font-size: 20px;
  }

  .title-type-car p {
    font-size: 18px;
  }

  .car-price {
    font-size: 18px;
  }

  .title-type-car .icon {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .con-card-product {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .text-type-car {
    font-size: 16px;
  }

  .car-price {
    font-size: 14px;
  }

  .title-type-car p {
    font-size: 14px;
  }

  .title-type-car .icon {
    font-size: 16px;
  }
}

/* promo */
@media only screen and (max-width: 700px) {
  .con-promo {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/* img end */

@media only screen and (max-width: 800px) {
  .con-image-end-product {
    flex-direction: column;
    gap: 10px;
  }

  .con-image-end-product .img1 {
    gap: 10px;
  }
}

/* img top */
@media only screen and (max-width: 600px) {
  .container .banner-product {
    width: 100%;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
  }
}

/* seacrh filter */

.con-search-filter {
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  /* height: 50px; */
}

.con-search-filter .search {
  display: flex;
  height: 55px;
  width: 100%;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.con-search-filter .search .button {
  background-color: #d61921;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.con-search-filter .search input[type="text"] {
  width: 100%;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.con-search-filter .search input[type="text"]:focus {
  outline: none;
}

.con-search-filter .search button:hover {
  background-color: #b3161e;
}

.con-search-filter .con-filter {
  display: flex;
  width: 40%;
  height: 55px;
  gap: 20px;
}

.con-search-filter .con-filter select {
  appearance: none;
  /* Untuk menghilangkan tampilan bawaan */
  -webkit-appearance: none;
  /* Untuk browser yang menggunakan prafiks vendor WebKit */
  -moz-appearance: none;
  /* Untuk browser yang menggunakan prafiks vendor Mozilla */
  background-image: url("../assets/down-select.svg");
  /* Menggunakan gambar sebagai tanda panah */
  background-repeat: no-repeat;
  background-position: right center;
  /* Posisi tanda panah di sebelah kanan tengah */
  color: #797979;
  font-family: "Poppins", "sans-serif";
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  height: 100%;
  cursor: pointer;
  border: 1px solid #c4c4c4;
}

.con-search-filter .con-filter select:focus {
  outline: none;
}

@media only screen and (max-width: 1000px) {
  .con-search-filter {
    gap: 15px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .con-search-filter .con-filter {
    width: 100%;
  }

  .con-search-filter .con-filter select {
    font-size: 18px;
  }
}

@media only screen and (max-width: 430px) {
  .con-search-filter {
    gap: 10px;
  }

  .con-search-filter .con-filter {
    gap: 10px;
  }

  .con-search-filter .con-filter select {
    font-size: 16px;
  }
}

/* end search filter */
